/* ================================= 
  Photo Overlay Transition
==================================== */
.photo img {
	transition: filter .5s;
}

.photo:hover > img {
	filter: blur(10px);
}

.photo-overlay {
	opacity: 0;
	transition: opacity .5s;
}
.photo-overlay:hover {
	opacity: 1;
}

/* ================================= 
  Button Transitions
==================================== */

.photo-overlay .button {
	opacity: 0;
	transition: opacity .3s .2s,
				background .4s .3s,
				box-shadow .5s 0s;
	transition-timing-function: ease-out;
}

.photo-overlay:hover .button {
	opacity: 1;
}

.photo-overlay .button:hover {
	background: rgba(74, 137, 202, 1);
	box-shadow: 0 0 0 3px rgba(255, 255, 255, .7);
} 

.btn-icon {
	transition: opacity .3s .3s,
				left .3s .3s;
	transition-timing-function: ease-in;
}

.photo-overlay .button:hover .btn-icon {
	opacity: 1;
	left: 80%
}