/* ================================= 
  Button Transitions
==================================== */

.button {
	color: deepskyblue;
	border-radius: .1em;
	transition-property: background, border-radius, color;
	transition: 0.5s, 0.8s;
}

.button:hover {
	color: black;
	border-radius: .5em;
	background: #ca4a4a;
}

.button:active {
	background: #ad1e1e;
	border-radius: 100em;
}

/* ================================= 
  Photo Overlay Transitions
==================================== */

.photo-overlay {
	opacity: 0;
	transition-property: opacity;
	transition-duration: .5s;
}

.photo-overlay:hover {
	opacity: 1;
}