/* ================================= 
  Button Transitions
==================================== */

.button {
	color: #fff;
	background: #4a89ca;
	
	transition: 0.5s;
	transition-property: background;
}

.button:hover {
	background: #ca4a4a;
}

.button:active {
	background: #ad1e1e;
}

/* ================================= 
  Photo Overlay Transitions
==================================== */

.photo-overlay {
	opacity: 0;
	transition-duration: .5s;
}

.photo-overlay:hover {
	opacity: 1;
}